<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeSnippet</title>
  </head>
  <body>
      <h1>Welcome to the CodeSnippet, {{user.name}}</h1>

    <nav>
        <a class="button" href="/">My Snippets</a>
        <a class="button" href="/addsnippet">New Snippet</a>
        <a href="/logout">Logout</a>
    </nav>

    <div class="container">
      {{{body}}}
    </div>

  </body>
</html>
