<link rel="stylesheet" href="/styles.css">


<header class="header_bar">

  <a href="/"><h1 class="main_logo">ScrumMonkey</h1></a>

  <nav class="navigation">
      <a class="button" href="/profile">Profile</a>
      <a class="button" href="/snippetlist">My Tasks</a>
      <a class="button" href="/addsnippet">New Task</a>
      <a href="/logout">Logout</a>

  </nav>
</header>

<div class="wrapper">

<h2 id="hello_user">Welcome, {{user.name}}!</h2>
<h3> What would you like to do? </h3>

</div>
