
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|Kaushan+Script|Seaweed+Script');

h1{
  font-family: "Seaweed Script", cursive;
  text-align: center;
  color: white;
  font-size: 72px;
  margin-bottom: 10px;
  text-decoration: underline;
  padding-top: 25px;
  letter-spacing: 2;
}

.login-page {
  width: 360px;
  padding: 10px;
  margin: 20px auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #43E5C9;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: white;
  color: #43E5C9;
  border: 1px solid #43E5C9;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 16px;
}
.form .message a {
  color: #43E5C9;
  text-decoration: none;
  font-size: 16px;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #43E5C9; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: #43E5C9;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.failure{
  width: 100%;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: bolder;
}

.welcome{
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Just Another Hand", cursive;
  font-size: 48px;
  color: white;
}

.welcome a{
  margin-top: 20px;
}

.welcome p{
  margin: 0;
}

.profile{
  border-radius: 25px;
  width: 20%;
  margin: 5px auto;
}

.menu{
  font-size: 48px;
  text-align: center;
}

.navigation a{
  margin: 10px;
  font-size: 32px;
}

.snippet_table{
  font-family: "Roboto", sans-serif;
  color: #43E5C9;
  background: white;
  border-color: white;
  width: 80%;
  margin: 10px auto;
  font-size: 20px;
}

.snippet_table th, td, a{
  font-size: 18px;
  padding: 10px;
}

#text_body{ 
  height: 150px;
  width: 360px;
}
