
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://fonts.googleapis.com/css?family=Euphoria+Script|Kaushan+Script|Seaweed+Script');

h1{
  font-family: "Courgette", cursive;
  text-align: center;
  color: white;
  font-size: 72px;
  margin-bottom: 25px;
  text-decoration: underline;
  padding-top: 25px;
  margin-top: 0px;
  letter-spacing: 2;
  text-shadow: 5px 5px purple;
}

.header_bar{
  height: 100px;
  margin: 0;
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid purple;
}

.header_bar p{
  font-family: "Courgette", cursive;
  font-size: 24px;
  color: purple;
}

.logo_image{
  height: 75px;
  width: 7%;
  margin-left: 10px;
  border-radius: 20px;
  border: 2px solid purple;
}

.logo_container{
  display: flex;
  justify-content: center;
}

@keyframes hide{
  0%{
    margin-top: 5px;
  }
  50%{
    margin-top: 40px;
  }
  100%{
    margin-top: 80px;
  }
}

.login_logo{
  position: absolute;
  z-index: -1;
  border-radius: 50px;
  margin: 5px auto;
  height: 150px;
  width: 150px;
  animation: 5s 5s linear infinite alternate hide;
}

.login-page {
  width: 360px;
  padding: 10px;
  margin: 75px auto;
}


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #12FFD5;
  border: 1px solid white;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.wrapper{
  height: 600px;
}

.form button:hover,.form button:active,.form button:focus {
  background: white;
  color: #12FFD5;
  border: 1px solid #12FFD5;
}
.form .message {
  margin: 10px 0 0;
  color: #b3b3b3;
  font-size: 16px;
}
.form .message a {
  color: #12FFD5;
  text-decoration: none;
  font-size: 16px;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.data_form{
  margin: 0px;
}

body {
  background: #12FFD5; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);*/
  background: #12FFD5;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}

.failure{
  width: 100%;
  text-align: center;
  color: purple;
  font-size: 24px;
  font-weight: bolder;
  padding-top: 20px;
}

.welcome{
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Courgette", cursive;
  font-size: 48px;
  color: white;
}

.welcome a{
  margin-top: 20px;
}

.welcome p{
  margin: 0;
}

@keyframes slide{
  0%{
    margin-right: 0;
  }
  25%{
    margin-right: 100px
  }
  50%{
    margin-right: 200px;
  }
  75%{
    margin-right: 300px;
  }
  100%{
    margin-right: 400px;
  }
}

.profile{
  border-radius: 25px;
  width: 20%;
  margin: 5px auto;
  animation: 3s 1s linear 1 slide;
}

.menu{
  font-size: 48px;
  text-align: center;
}

.navigation{
  padding-right: 25px;
}

.navigation a{
  margin: 10px;
  font-size: 20px;
  font-family: "Courgette", cursive;
  color: white;
  background: purple;
  border-radius: 50px;
  text-decoration: none;
  border: 2px solid white;
}

.navigation a:hover{
  color: #12FFD5;
  background: white;
  border: 2px solid #12FFD5;
}

.search_box{
  margin-top: 20px;
}

.search{
  font-family: "Courgette", cursive;
  font-size: 14px;
  color: purple;
  text-align: center;
}

.search_form{
  display: flex;
  flex-flow: column nowrap;
  width: 30%;
  margin: 0 auto;
}

#search_button{
  width: 25%;
  margin: 10px auto;
}

h3{
  color: purple;
  text-align: center;
  font-family: "Courgette", cursive;
}

.button{
  font-size: 20px;
  font-family: "Courgette", cursive;
  color: white;
  background: purple;
  border: 2px solid purple;
  border-radius: 50px;
  text-decoration: none;
  margin: 20px auto;
  width: 10%;
}

.button:hover{
  color: #12FFD5;
  background: white;
  border: 2px solid #12FFD5;
}

#snip_add{
  margin-top: 10px;
}

.learn_code{
  border-top: 5px solid white;
  height: 200px;
  background: purple;
}

.snippet_table{
  font-family: "Courgette", cursive;
  background: white;
  border-color: white;
  width: 80%;
  margin: 10px auto;
  font-size: 20px;
}

.snippet_table th{
  font-size: 24px;
  text-decoration: underline;
  color: #12FFD5;
}

.snippet_table td, a{
  padding: 10px;
  color: purple;
}

#text_body{
  height: 150px;
  width: 360px;
}
